# Pycache files
__pycache__/

# Logs and databases
*.db

# VS Code specific
.vscode/

# Output directory
# output/ 

# Everything inside the output directory
# output/*

# Environments
.env

# Random test
test.txt

# Current Tests directory
tests/

# Mp4 file for demo
demo txtify.mp4

# MacOs specific 
.DS_Store