# Pycache files
__pycache__/

# Logs and databases
*.db

# VS Code specific
.vscode/

# Output directory
# output/ 


# Everything inside the output directory
# output/*

# Environments
.env

# Random test
test.txt