# Pycache files
__pycache__/
.pytest_cache/

# Logs and databases
*.db

# VS Code specific
.vscode/

# Output directory
# output/ 

# Everything inside the output directory
# output/*

# Environments
.env

# Random test
test.txt

# Current Tests directory
tests/

# Mp4 file for demo
demo txtify.mp4

# MacOs specific 
.DS_Store

# Poetry and dependency management
.mypy_cache/
.ruff_cache/


# Requirements file
# requirements.txt
# docker-compose.yml

# Old files
old_files/