deepl==1.19.1
fastapi==0.115.0
fpdf==1.7.2
loguru==0.7.2
psutil==5.9.8
pydub==0.25.1
pytest==8.2.2
python-dotenv==1.0.1
resend==2.1.0
srt==3.5.3
torch==2.4.1
transformers==4.48.0
webvtt_py==0.5.1
yt_dlp==2025.3.31
uvicorn==0.22.0
python-multipart==0.0.18
accelerate==0.21.0 
stable-ts==2.18.0