<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta http-equiv="refresh" content="5;url=/" />
    <script>
        setTimeout(function () {
            window.location.href = "/";
        }, 8010);
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="container">
        <h1>404 - Page Not Found</h1>
        <div class="description">
            Oops! The page you are looking for does not exist. It might have been moved or deleted.
            <br>
            You will be redirected to the <a href="/" style="color: var(--primary-color);">homepage</a> in 5 seconds.
        </div>
        <div>
            <button onclick="window.location.href = '/'" class="homepage-button">Go to Homepage</button>
        </div>
    </div>
    <div class="footer">
        &copy; 2025 Txt<span style="color: var(--primary-color);">ify</span>. Created with <i
            class="fa-solid fa-heart heart"></i> by <a href="https://lkmeta.com" target="_blank">lkmeta</a>.
    </div>

    <script src="/static/scripts.js"></script>
</body>

</html>